<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>User Detail</ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button (click)="searchView()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button> -->
      <ion-button (click)="shareInfo()">
        <ion-icon slot="icon-only" name="share-alt"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-grid>
  <ion-row>
    <ion-col>
      <img src="{{userInfo.picture.large}}">
    </ion-col>
    <ion-col>
      <p>{{userInfo.name.title}}. {{userInfo.name.first}} {{userInfo.name.last}}</p>
    </ion-col>
  </ion-row>
  </ion-grid>


<!-- <div style="height: 50%; width: 100%" #mapCanvas id="map_canvas"></div> -->

<ion-segment [(ngModel)]="section" style="height:40px;" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="info">
    <ion-label>Info</ion-label>
  </ion-segment-button>
  <ion-segment-button value="directions">
    <ion-label>Directions</ion-label>
  </ion-segment-button>
</ion-segment>

  <ion-item no-padding>
    <ion-label text-center>
      Bookmark User
      <ion-icon name="bookmark" slot="end" (click)="bookMarkEm(userInfo)"></ion-icon>
    </ion-label>
  </ion-item>
  <h5>Contact Info</h5>
  <div [ngSwitch]="section">
  <div *ngSwitchCase="'info'">
  <ion-item lines="none">
    <ion-label>
      <ion-icon name="call"></ion-icon> {{userInfo.phone}}
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label>
      <ion-icon name="phone-portrait"></ion-icon> {{userInfo.cell}}
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label>
      <ion-icon name="mail"></ion-icon> {{userInfo.email}}
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label>
      {{userInfo.gender}}
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label>
      Age: {{userInfo.dob.age}}
    </ion-label>
  </ion-item>
  </div>

  <div *ngSwitchCase="'directions'">
    <div padding>
        <p>{{userInfo.location.street}}</p>
        <p>{{userInfo.location.city}}, {{userInfo.location.state}}, {{userInfo.location.postcode}}</p>
    </div>
    <!-- <div style="height: 50%; width: 100%" #mapCanvas id="map_canvas">p</div> -->
    <!-- <img width="100%" src="https://via.placeholder.com/500/09f/fff.png"> -->
  </div>

  </div>





</ion-content>
